body {
  background-color: #460a4a;
  font-family: courier; 
}
p {
  color: #718083;
}
h1 {
  color: #2176c7;
  margin-top: 5em;
}
a {
  color: #269286;
  text-decoration: none
}
.warp
{
  width: 28em;
  margin:0 auto;
}

.lang_link
{
  color: #718083;
  text-decoration: none
}
