body {
  background-color: #460a4a;
  font-family: courier; 
  margin-top: 5em;
  margin-bottom: 5em;
}
p {
  color: #718083;
  #text-align: center;
}
h1 {
  color: #2176c7;
  text-align: center;
}
h2 {
  color: #718083;
  margin-top: 2em;
}
a {
  color: #269286;
  text-decoration: none
}
.warp
{
  width: 640;
  margin:0 auto;
}

.lang_link
{
  color: #718083;
  text-decoration: none
}

